
<div class="bg-custGray h-56 md:h-36 w-full flex flex-wrap justify-center items-center">
  <app-search-bar></app-search-bar>
</div>

<div class="mx-auto grid grid-cols-6 gap-6 mt-8 grid-rows-4">
  <div class="bg-custGray hidden lg:block col-start-2 col-end-3 row-start-1 row-end-4 rounded-md shadow-sm h-[500px]">
    <app-offers-side-bar></app-offers-side-bar>
  </div>
  <div class="col-start-2 col-end-6 3 lg:col-start-3 lg:col-end-6 row-start-1 row-end-5 rounded-md mb-20">
    <app-offers></app-offers>
  </div>

</div>

