<div
  class="bg-white w-full relative flex flex-row justify-center px-0 sm:px-4"
>
  <div class="w-full bg-white grid grid-cols-12 p-0 md:p-4">
    <div
      class="flex flex-col justify-around col-start-2 col-end-12 row-start-1 row-end-4 "
    >
      <form
        [formGroup]="addOfferForm"
        (ngSubmit)="onSubmit($event)"
        method="post"
        name="loginfom"
        id="formId"
      >
        <div class="text-center text-lg font-semibold text-black">
          <!-- <img src="assets/testlogo.png" fill="currentColor" class="mx-auto h-36"/> -->
          <h3>ADDING OFFER</h3>
        </div>
        <div class="flex flex-col justify-center">
          <div class="flex flex-row flex-wrap justify-around">
            <div class="flex flex-col justify-around">
              <!-- left side of form  -->
              <div class="w-full">
                <div class="my-5 w-full text-center rounded-sm">
                  <!-- <div class="col-span-2 bg-red-200 "></div> -->
                  <label for="address">Title</label>
                  <div class="w-full border-l-4 border-custPurple rounded-sm">
                    <input
                      formControlName="title"
                      class="w-full bg-white border border-gray-100 outline-none py-3 px-2"
                      type="text"
                      name="title"
                      placeholder="Title"
                      required
                    />
                  </div>
                  <div
                    *ngIf="title?.invalid && (title?.dirty || title?.touched)"
                    class="text-red-500 text-sm"
                  >
                    <div *ngIf="title?.errors?.['required']">
                      Title is required.
                    </div>
                  </div>
                </div>
                <div class="my-5 w-full text-center rounded-sm">
                  <!-- <div class="col-span-2 bg-red-200 "></div> -->
                  <label for="address">Salary</label>
                  <div class="w-full border-l-4 border-custPurple rounded-sm">
                    <input
                      formControlName="salary"
                      class="w-full bg-white border border-gray-100 outline-none py-3 px-2"
                      type="number"
                      step="0.1"
                      name="salary"
                      placeholder="Salary in DHs"
                      required
                    />
                  </div>
                  <div
                    *ngIf="
                      salary?.invalid && (salary?.dirty || salary?.touched)
                    "
                    class="text-red-500 text-sm"
                  >
                    <div *ngIf="salary?.errors?.['required']">
                      This field is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- right side  -->
            <div class="w-full md:w-2/5">
              <div class="m-5 text-center rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="role">Contract</label>
                <select
                  id="role"
                  formControlName="offerType"
                  name="offerType"
                  class="border h-full w-full px-3  outline-none"
                >
                  <!-- <option [ngValue]="undefined" [disabled]="true" selected>
                    Contract
                  </option> -->
                  <option
                    *ngFor="let offerType of offerTypes"
                    [ngValue]="offerType"
                  >
                    {{ offerType }}
                  </option>
                </select>
                <div
                  *ngIf="
                    offerType?.invalid &&
                    (offerType?.dirty || offerType?.touched)
                  "
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="offerType?.errors?.['required']">
                    Contract Type is required.
                  </div>
                </div>
              </div>
              <div class="m-5 text-center rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="address">Sector</label>
                <select
                  id="sector"
                  formControlName="profile"
                  name="profile"
                  class="border h-full w-full px-3  outline-none"
                >
                  <option [ngValue]="undefined" [disabled]="true">
                    Sector
                  </option>
                  <option *ngFor="let profile of profiles" [ngValue]="profile">
                    {{ profile }}
                  </option>
                </select>
                <div
                  *ngIf="
                    profile?.invalid && (profile?.dirty || profile?.touched)
                  "
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="profile?.errors?.['required']">
                    Sector is required.
                  </div>
                </div>
              </div>

              <div class="m-5 text-center rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="city">City</label>
                <!-- <div class="border-l-4 border-custPurple rounded-sm">
                          <input formControlName="ville" class="w-full bg-white border border-gray-100 outline-none py-3 px-2" type="text" name="ville"
                                 placeholder="City" required>
                      </div> -->
                <select
                  id="ville"
                  formControlName="ville"
                  name="ville"
                  class="border h-full w-full px-3  outline-none"
                >
                  <option [ngValue]="undefined" [disabled]="true">City</option>
                  <option
                    *ngFor="let city of cities"
                    [ngValue]="city.asciiname"
                    [selected]="city === 'BAC'"
                  >
                    {{ city.asciiname }}
                  </option>
                </select>
                <div
                  *ngIf="ville?.invalid && (ville?.dirty || ville?.touched)"
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="ville?.errors?.['required']">
                    City is required.
                  </div>
                </div>
              </div>

              <div class="m-5 text-center rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="address">Education</label>
                <select
                  id="education"
                  formControlName="education"
                  name="education"
                  class="border h-full w-full px-3  outline-none"
                >
                  <option [ngValue]="undefined" [disabled]="true">
                    Education
                  </option>
                  <option
                    *ngFor="let education of educations"
                    [ngValue]="education"
                    [selected]="education === 'BAC'"
                  >
                    {{ education }}
                  </option>
                </select>
                <div
                  *ngIf="
                    education?.invalid &&
                    (education?.dirty || education?.touched)
                  "
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="education?.errors?.['required']">
                    Education is required.
                  </div>
                </div>
              </div>
            </div>






          </div>


          <div class="my-5 text-center rounded-sm">
            <!-- <div class="col-span-2 bg-red-200 "></div> -->
            <label for="role">Description</label>
            <div class="h-40">
              <textarea
                formControlName="description"
                rows="2"
                placeholder="Offer details..."
                class="outline-none border-l-4 border-custPurple rounded-sm bg-gray-50 m-0 px-4 py-4 w-full h-full"
              ></textarea>
            </div>
            <div
              *ngIf="
                description?.invalid &&
                (description?.dirty || description?.touched)
              "
              class="text-red-500 text-sm"
            >
              <div *ngIf="description?.errors?.['required']">
                Description is required.
              </div>
            </div>
          </div>


          <label class="image-upload-container flex flex-wrap btn btn-bwm m-4">
            <span>Select Image</span>
            <input
            class="border bg-gray-50 mx-2"
              #imageInput
              type="file"
              accept="image/*"
              (change)="processImage(imageInput)"
            />
          </label>
          <div *ngIf="selectedImage" class="bg-gray-50 p-2 m-2">
            <div
              class="img-preview{{
                selectedImage.status === 'fail' ? '-error' : ''
              }} h-44"
              [ngStyle]="{
                'background-image': 'url(' + selectedImage.src + ')'
              }"
            ></div>

            <div *ngIf="selectedImage.pending" class="img-loading-overlay">
              <div class="img-spinning-circle"></div>
            </div>

            <div
              *ngIf="selectedImage.status === 'ok'"
              class="text-center text-green-500"
            >
              Image Uploaded Succesfuly!
            </div>
            <div
              *ngIf="selectedImage.status === 'fail'"
              class="text-center text-red-500"
            >
              Image Upload Failed!
            </div>
          </div>
          <div class="text-center w-full px-5 my-4" id="btnContainerId"></div>
            <button
              type="submit"
              [disabled]="!addOfferForm.valid"
              id="submitBtnId"
              class="w-full {{
                !addOfferForm.valid ? 'bg-gray-400' : 'bg-custPurple'
              }}  shadow-sm rounded-sm py-3 text-white text-md font-regular"
            >
              NEW
            </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="isAddingOfferResult" class="loading-overlay flex justify-center items-center my-auto mx-auto">
    <div class="h-1/4">
      <lottie-player  [src]="animationSrc"  background="transparent"  speed="1" loop  autoplay >
      </lottie-player>
    </div>
  </div>
</div>

