
<div class="flex flex-col justify-center items-center">
  <div class="w-full">
    <app-offer [isShowDetails]="getForEmp || getForAgn" [offer]="offer"  *ngFor="let offer of offers | paginate: config"></app-offer>
  </div>
  <div *ngIf="!isLoading" class="text-center w-full mx-0 sm:mx-auto my-8">
    <pagination-controls  [id]="config.id!"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [responsive]="responsive"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"
                             (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
  </div>

</div>

<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinning-circle"></div>
</div>
